body{
    background-color: rgba(76,160,222,255);
}

Aside{
  background-color: rgba(34,121,190,255);;
}

.side-img{
    border-radius: 20px;
}

/* .main-container{
    margin: 0 50px;
} */

/* #listItems ul li{
    min-width: 100%;
    border-bottom: 2px solid white;
} */

.bborder{
    /* width: 400px; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    min-width: 100%;
    width: 200px;
}

.img-1{
    height: 350px;
    width: 100%;
    min-width: 100%;

}

.intro-heading-border{
    border-bottom:2px solid white;
    width: 350px;
}

.img-hill{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    max-height: 300px;

}

.container1{
    width: 100%;
}

ul.icons  li a {
    background-color: #27374D;  
}

.ul-items li:hover,
.ul-items li:hover a{
    background-color: white;
    color: blue;
    font-weight: 900;
}

.ul-items li a{
  color: white;
}






@media(max-width:768px){
  

    .container-text2{
        display: flex !important;
        flex-direction: column;
    }
    
    .mainn-img-1{
        margin: 0;
        padding: 0;
    }

    
}
